app-login, app-register {
    .login__main__wrapper {
        @include flex-center();
        height: 100vh;
        font-size: x-large;
    
        &__content {
            padding: 2px;
            text-align: center;
        }
    }
}