app-base {
    .base {
        height: 100vh;
        display: flex;

        &__sidebar {
            width: 200px;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 999;
            @include flex-center();
        }

        &__page {
            height: 100%;
            flex-grow: 1;

            &__header {
                height: 10%;
                padding: 0px 2px;
            }

            &__content {
                height: 80%;
                padding: 10px;
            }

            &__footer {
                height: 10%;
                @include flex-center();
            }
        }
    }
}