// Reset styles

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none !important;
}

::-moz-scrollbar {
    display: none !important;
}

%property-link {
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
    border: none;
    box-shadow: none;
}

%link {
    @extend %property-link;

    &:hover {
        @extend %property-link;
    }

    &:focus {
        @extend %property-link;
    }

    &:active {
        @extend %property-link;
    }

    &:visited {
        @extend %property-link;
    }
}

a,
button
a:hover,
a:active,
a:focus,
a:visited,
input,
select,
button,
button:active,
button:checked,
button:hover,
button:checked,
button:visited {
    @extend %link;
}
  