
// Color system
$blue:              #5E50F9;
$red:               #f96868;
$orange:            #f2a654;
$yellow:            #f6e84e;
$green:             #46c35f;
$black:             #000000;
$white:             #ffffff;

$colors: (
  blue:             $blue,
  red:              $red,
  orange:           $orange,
  yellow:           $yellow,
  green:            $green,
  white:            $white,
  black:            $black
);
// Color system

