<div class="login__main__wrapper">
    <div class="login__main__wrapper__content">
        <h1>Login to app</h1>
        <button class="btn-default" (click)="_onLogin()">Login</button>
    </div>
</div>