<div class="base" [perfectScrollbar]="config">
    <div class="base__sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="base__page">
        <div class="base__page__header">
            <app-header></app-header>
        </div>
        <div class="base__page__content">
            <div *ngIf="isRouteLoading">
                <app-loader></app-loader>
            </div>
            <div *ngIf="!isRouteLoading">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="base__page__footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>