<div class="error__main__wrapper">
    <div class="error__main__wrapper__content">
        <h1 class="">{{ type }}</h1>
        <h4 class="">{{ title }}</h4>
        <h6 class="" [innerHTML]="desc"></h6>
        <a routerLink="/main" class="">Back to Home</a>
    </div>
</div>